<div>
    <button class="btn btn-primary" @onclick="@onClickZoomIn">Zoom In</button>
    <button class="btn btn-primary" @onclick="@onClickZoomOut">Zoom Out</button>
    <button class="btn btn-primary" @onclick="@onClickZoomRandom">Zoom Random</button>
    <button class="btn btn-primary" @onclick="@onClickZoomReset">Zoom Reset</button>
</div>
<div id="chart"></div>